python==3.9
streamlit
matplotlib
pandas
numpy
seaborn
scikit-learn
transformers
datasets
torch
torchvision
torchaudio
sentencepiece
huggingface-hub
beautifulsoup4
lxml
aiohttp
memory-profiler
matplotlib-inline
pydeck
tqdm
